@import 'tailwindcss';

:root {
  --primary-color: #6b53f3;
  --primary-foreground-color: hsl(0 0% 98%);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-foreground-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .h-header {
    @apply h-20;
  }
  .h-footer {
    @apply h-20;
  }
}
